/* Login.css */
  
  .logo {
    width: 120px;
    height: auto;
  }
  
  
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .input-group-prepend .input-group-text {
    background-color: #ffffff; /* White background for input icons */
  }
  
  .btn-primary {
    background-color: #007bff; /* Bootstrap primary button color */
    border-color: #007bff;
  }
  
  .text-primary {
    color: #007bff; /* Bootstrap primary text color */
  }
  
  .text-primary:hover {
    color: #0056b3; /* Darker blue on hover */
  }
  
  .form-wrapper-LogIn {
    margin-left: 5px; /* Espaciado de 5px desde el lado izquierdo */
    margin-right: 5px; /* Espaciado de 5px desde el lado derecho */
    margin-bottom: 30px; /* Espaciado de 30px desde la parte inferior */
    margin-top: 0px; /* Ajusta el margen superior según sea necesario */
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 10px);
  }

  