/* Login.css */
  
  .logo {
    width: 80px;
    height: auto;
  }
  
  
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .input-group-prepend .input-group-text {
    background-color: #ffffff; /* White background for input icons */
  }
  
  .btn-primary {
    background-color: #007bff; /* Bootstrap primary button color */
    border-color: #007bff;
  }
  
  .text-primary {
    color: #007bff; /* Bootstrap primary text color */
  }
  
  .text-primary:hover {
    color: #0056b3; /* Darker blue on hover */
  }
  
  .form-wrapper-2 {
  margin-left: 5px; /* Espaciado de 10px desde el lado izquierdo */
  margin-right: 5px; /* Espaciado de 10px desde el lado derecho */
  margin-bottom: 30px; /* Espaciado de 30px desde la parte inferior */
  margin-top: 20px; /* Espaciado de 30px desde el logo (100px de altura + 30px de margen inferior del logo + 30px de margen superior del formulario) */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% -5px;
  }