
  .form-wrapper-reporte {
    background-color: #d35500;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .comprobante {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    height: 50px;
    width: auto;
  }
  
  .comprobante h1 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
  }
  
  .comprobante p {
    font-size: 1em;
    margin: 10px 0;
  }
  
  .comprobante input[type="checkbox"] {
    margin: 0 5px;
  }
  
  .comprobante strong {
    display: inline-block;
    width: 200px;
  }
  
  hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
  }
  
  .card-image-reporte {
    width: 100%;
    height: auto;
    object-fit: cover;
  }