.btn-block {
  display: block;
  width: 100%;
  text-align: center; /* Centra el texto del botón */
}

.text-primary {
  color: #007bff; /* Color del texto primario de Bootstrap */
}

.text-primary:hover {
  color: #0056b3; /* Azul más oscuro al pasar el cursor */
}

.text-white {
  color: #fff;
}


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.back-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background-color: #d35500; /* Background color similar to the image */
  position: relative;
  justify-content: center;
  align-items: center;
}

.back-container-admin {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background-color: #747474; /* Background color similar to the image */
  position: relative;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25px; /* Adjust the top position as needed */
  width: 100%;
}

.logo {
  width: 120px; /* Ajusta el tamaño del logo */
  height: auto;
}

.logo-text {
  color: #fff;
  margin-top: 10px; /* Espaciado entre el logo y el texto */
  font-size: 2rem; /* Ajusta el tamaño del texto */
  font-family: 'Lobster', cursive; /* Aplica la fuente personalizada */
}


.form-wrapper-SignUp-Admin {
  margin-left: 5px; /* Espaciado de 5px desde el lado izquierdo */
  margin-right: 5px; /* Espaciado de 5px desde el lado derecho */
  margin-bottom: 30px; /* Espaciado de 30px desde la parte inferior */
  margin-top: 160px; /* Ajusta el margen superior según sea necesario */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px);
}

.form-wrapper-SignUp {
  margin-left: 5px; /* Espaciado de 5px desde el lado izquierdo */
  margin-right: 5px; /* Espaciado de 5px desde el lado derecho */
  margin-bottom: 30px; /* Espaciado de 30px desde la parte inferior */
  margin-top: 230px; /* Ajusta el margen superior según sea necesario */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px);
}

.form-container {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
}

.custom-label {
  font-weight: bold;
}

.form-control {
  background-color: #333;
  color: #fff;
  border: none;
  height: 40px; /* Ajusta la altura para que sea proporcional al logo */
  font-size: 16px;
}

.form-control::placeholder {
  color: #bbb;
}

.input-group-prepend .input-group-text {
  background-color: #ffffff; /* Fondo blanco para los íconos de entrada */
  width: 40px; /* Ajusta el ancho para igualar el tamaño del logo */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #007bff; /* Color del botón primario de Bootstrap */
  border: none;
  font-size: 18px;
  padding: 10px;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center; /* Centra el texto del botón */
}

.text-primary {
  color: #007bff; /* Color del texto primario de Bootstrap */
}

.text-primary:hover {
  color: #0056b3; /* Azul más oscuro al pasar el cursor */
}

.text-white {
  color: #fff;
}
